/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*****************************************
 *             COLORS                     *
 *    -Purple  :  rgba(81,68,95,1);       *
 *    -Lime    :  rgba(10,240,80,.7);     *
 *    -White   :  rgba();                 *
 *    -Navy    :  rgba(60,51,68,.8);      *
 *    -Orange  :  rgba(255,170,0,.8);     *
 ****************************************/
.dev-box
{
    padding: 10px 10%;
    text-align: center;
    width: 100%;
    background-color: rgba(20,12,40,.7);
    color: white;
}.dev-box>h4{padding: 5px;margin: 0;color:white;}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.dev-patch
{
    border: 4px dotted black;
    width: 50%;
    min-width: 200px;
    margin: 5px auto;
    padding: 1%;
    
}
.dev-patch>h5
{
    padding: 3px;
    margin: 0;
}
.dev-patch>p
{
    text-align: left;
    margin: 0;
    padding: 3px;
}

body {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:rgba(60,51,68,.3);  
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    height:100%;                 /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding-top: 10%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
                    /* offset horizontal: half of image width and text area width */
    }
}

.btn, button
{
    width:90%;
    margin:10px auto;
    text-decoration: none;
    vertical-align:middle;
    text-transform: uppercase;
    font-size:2em;
    height:80px;
    display:block;
    background-color:rgba(255,170,0,.8); 
    color:white;
    border:2px solid purple;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
input:not([type="checkbox"])
{
    display:block;
    width:90%;
    margin:0 auto;
    padding:10px;
    text-align:center;
    font-size:1.2em;
}
h1
{
    font-size: 4em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
h2 /* PANDA */
{
    font-size: 3em;
}
h3 /* PANDA */
{
    font-size: 2.5em;
}
h4 /* PANDA */
{
    font-size: 1.75em;
}
h5 /* PANDA */
{
    font-size: 1.4em;
}
.list-row
{
    border: 2px solid purple;
    margin: 0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity:1.0; }
    50% { opacity:0.4; }
    to { opacity:1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity:1.0; }
    50% { opacity:0.4; }
    to { opacity:1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.list-row
{
    width: 100%;
    padding: 5px;
}
.fill-x
{
    width: 100%;
}
.fill-y
{
    height: 100%;
}
.center
{
    
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* ATTRIBUTES */
.modal
{
	position: fixed;
	top: 5%;
	right: 0;
    bottom: 0;
	height: inherit;
    display: none;
	left: 0;
	background: rgba(200,200,200,.7);
	z-index: 200;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.modal > div
{
	width: 80%;
    height: auto;
	position: relative;
	margin: 5% auto;
	padding: 5px;
	border-radius: 8px;
}
.close
{
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -10px;
    height: auto;
	text-align: center;
    padding: 0;
	top: -10px;
	width: 25px;
	text-decoration: none;
    font-size: 1.5em;
	font-weight: bold;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
