<!DOCTYPE html>
<div id="friends">
    <!-- PANDA modal pop up for adding friend? Maybe search by name -->
    <a class="btn" ng-click="toggleAddFriend()">Add Friend</a>
    <a class="btn" ui-sref="user-list({content: 'friends', id: null})">Current Friends</a>
    <a class="btn" ui-sref="user-list({content: 'friend_invites', id: null})">Friend Invites</a>
    <!--TODO: make this a seperate directive? -->
    <div class="modal" id="addfriend-modal" ng-show="showAddFriend">
        <div>
            <a ng-click="toggleAddFriend()" class="close">X</a>
            <h5>Add a friend!</h5>
            <form novalidate ng-submit="send()" ng-cloak>
                <input type="email" name="email" id="email" required ng-maxlength="40" ng-model="post.to" />
                <input class="btn" type="submit" value="Send" />
            </form>
        </div>
    </div>
</div>
