<!DOCTYPE html>
<img class="logo" id="home-logo" src="resource/icon/generic/grouple-logo.png" alt="Grouple Logo" />
<!-- PANDA modal pop up for adding friend? Maybe search by name -->
<div class="pull-down fill-x">
    <a class="home-btn" id="friends-btn" ui-sref="friends">Friends</a>
    <a class="home-btn" id="groups-btn" ui-sref="groups">Groups</a>
    <a class="home-btn" id="events-btn" ui-sref="events">Events</a>
    <a class="home-btn" id="settings-btn" ui-sref="settings">Settings</a>
    <a class="home-btn" id="contacts-btn" ui-sref="contacts">Contacts</a>
    <a class="home-btn" id="profile-btn" ui-sref="user-profile({id:null})">Profile</a>
</div>
