<!DOCTYPE html>
<nav id="nav" ng-show="vm.showActionBar">
    <a id="nav-back" ng-click="vm.back()"></a>
    <h1 id="nav-title">{{vm.title}}</h1>
    <button id="nav-open" ng-click="vm.toggleNav()"></button>
</nav>

<div id="nav-menu" ng-show="vm.showNav">
    <ul>
        <li><a id="nav-home" ui-sref="home">Home</a></li>
        <li><a id="nav-friends" ui-sref="friends">Friends</a></li>
        <li><a id="nav-groups" ui-sref="groups">Groups</a></li>
        <li><a id="nav-events" ui-sref="events">Events</a></li>
        <li><a id="nav-messages" ui-sref="contacts">Messages</a></li>
        <li><a id="nav-profile" ui-sref="user-profile({id: 'user'})">Profile</a></li>
        <li><a id="nav-settings" href="#">Settings</a></li>
        <li><a id="nav-logout" ng-click="vm.logout()">Logout</a></li>
    </ul>
</div>