<div id="navbarCollapse" class="collapse navbar-collapse" ng-show="navMenuCtrl.showNavMenu">
    <ul class="nav navbar-nav" ng-click="navMenuCtrl.showNavMenu = false" ng-show="navMenuCtrl.logged">
        <li><a id="nav-home" ui-sref="home">Home</a></li>
        <li><a id="nav-friends" ui-sref="friends">Friends</a></li>
        <li><a id="nav-groups" ui-sref="groups">Groups</a></li>
        <li><a id="nav-events" ui-sref="events">Events</a></li>
        <li><a id="nav-messages" ui-sref="contacts">Messages</a></li>
        <li><a id="nav-profile" ui-sref="user-profile({email: 'user'})">Profile</a></li>
        <li><a id="nav-settings" href="#">Settings</a></li>
        <li><a id="nav-logout" ng-click="navMenuCtrl.logout()">Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="navMenuCtrl.logged">
        <li><a id="nav-login" ui-sref="login">Login</a></li>
        <li><a id="nav-register" ui-sref="register">Register</a></li>
    </ul>
</div>