<!DOCTYPE html>
<div id="messages" ng-init="init('user')">
    <h1><!-- PANDA get this from session and put it in actionbar-->Messages</h1>
    <!--PANDA make this a directive-->
    <div class="list-wrap" ng-repeat="message in messages" ng-cloak>
        <message-row></message-row>
    </div>
    <form novalidate ng-submit="send('user')" ng-cloak>
        <textarea id="message" placeholder="Write your message!" ng-model="post.message" rows="5" cols="40">  
        </textarea>
        <input class="btn" type="submit" value="Send" />
    </form>
    <a class="btn" ui-sref="home">Back</a>
</div>
