<div id="nav-menu" ng-show="navMenuCtrl.showNavMenu">
    <ul ng-click="navMenuCtrl.showNavMenu = false">
        <li><a id="nav-home" ui-sref="home">Home</a></li>
        <li><a id="nav-friends" ui-sref="friends">Friends</a></li>
        <li><a id="nav-groups" ui-sref="groups">Groups</a></li>
        <li><a id="nav-events" ui-sref="events">Events</a></li>
        <li><a id="nav-messages" ui-sref="contacts">Messages</a></li>
        <li><a id="nav-profile" ui-sref="user-profile({email: 'user'})">Profile</a></li>
        <li><a id="nav-settings" href="#">Settings</a></li>
        <li><a id="nav-logout" ng-click="navMenuCtrl.logout()">Logout</a></li>
    </ul>
</div>