<!DOCTYPE html>
<div class="modal" id="editprofile-modal" ng-cloak>
    <div>
        <a class="close" ng-click="toggleEdit()">X</a>
        <h5 ng-cloak>{{info.name}}</h5>
        <form name="groupEditForm" novalidate ng-submit="groupEditForm.$valid && groupEditCtrl.save(info)" ng-cloak>
            <input type="text" name="name" id="name" placeholder="Name" required ng-model="info.name" ng-cloak/>
            <input type="text" name="about" id="about" placeholder="About Event" ng-model="info.about" ng-cloak />
            <label>
                Public
                <input type="radio" name="public" value="1" ng-model="post.pub" />
            </label>
            <label>
                Private
                <input type="radio" name="public" value="0" checked ng-model="post.pub" />
            </label>
            <button type="submit">Save</button>
        </form>
    </div>
</div>