 <div class='modal' id='event-create' ng-cloak>
          <div ng-controller="CreateEventController">
               <a onclick='closeEventCreate()' class="close">X</a>
               <h5>Create your event!</h5>
               <form novalidate ng-submit="create()">
                   <input type="text" name='name' id="name" placeholder="Event Name" required ng-model="event.name" />
                   <label>Start Date <input type="date" name='start-date' id='start-date' required ng-model="event.startDate" /></label>
                   <label>End Date <input type="date" name='end-date' id='end-date' required ng-model="event.endDate" /></label>
                   <label>Event reccuring weekly? <input type="checkbox" name='recurring' id='recurring' ng-model="event.recurring" /></label>
                   <select id="category" name="category" required ng-model="event.category">
                       <option name="professional">Professional</option>
                       <option name="entertainment">Entertainment</option>
                       <option name="sports-and-games">Sports and Games</option>
                       <option name="fitness">Fitness</option>
                       <option name="nature">Nature</option>
                   </select>
                   <input type="text" name='about' id='about' placeholder="About Event" ng-model="event.about" />
                   <input type="text" name='location' id='location' placeholder="Location" ng-model="event.location" />
                   <input type="number" name='min-part' id='min-part' placeholder="Min Participants" ng-model="event.minPart" />
                   <input type="number" name='max-part' id='max-part' placeholder="Max Participants" ng-model="event.maxPart" />
                   <input class='btn' type='submit' value='Create' />
               </form>
          </div>
</div>