<!DOCTYPE html>
<div id="friends">
<div id="friends" class="container">
    <a class="btn btn-primary btn-block" ng-click="vm.toggleAddFriend()">Add Friend</a>
    <a class="btn btn-primary btn-block" ui-sref="user-list({content: 'friends', id: null})">Current Friends</a>
    <a class="btn btn-primary btn-block" ui-sref="user-list({content: 'friend-invites', id: null})">Friend Invites</a>
    <!--TODO: make this a separate directive-->
    <div class="modal" id="addfriend-modal" ng-show="vm.showAddFriend">
        <div>
            <a ng-click="vm.toggleAddFriend()" class="close">X</a>
            <h5>Add a friend!</h5>
            <form novalidate ng-submit="vm.send()" ng-cloak>
                <input type="email" name="email" id="email" required ng-maxlength="40" ng-model="vm.post.to" />
                <input class="btn btn-success" type="submit" value="Send" />
            </form>
        </div>
    </div>
</div>
