<!DOCTYPE html>
<div id="messages" ng-init="init()">
    <h2><!-- PANDA get this from session and put it in actionbar-->Messages</h2>
    <!--PANDA make this a directive-->
    <div class="list-wrap" ng-repeat="message in messages" ng-cloak>
        <user-message-row></user-message-row>
    </div>
    <form name="messageForm" class="message-form pull-down" novalidate ng-submit="messageForm.$valid && send()" ng-cloak>
        <textarea id="message" placeholder="Write your message!" ng-minlength="1" ng-maxlength="400" ng-model="post.message">  
        </textarea>
        <button type="submit">Send</button>
    </form>
</div>
