<!DOCTYPE html>
<div id="home">
<img class="logo" id="home-logo" src="asset/icon/generic/grouple-logo.png" alt="Grouple Logo" />
    <div style="width:auto; padding: 0; max-width: 600px; position: relative; bottom: 0;" class="pull-down center">
        <a class="home-btn" id="friends-btn" ui-sref="friends">Friends</a>
        <a class="home-btn" id="groups-btn" ui-sref="groups">Groups</a>
        <a class="home-btn" id="events-btn" ui-sref="events">Events</a>
        <a class="home-btn" id="settings-btn" ui-sref="settings">Settings</a>
        <a class="home-btn" id="contacts-btn" ui-sref="contacts">Contacts</a>
        <a class="home-btn" id="profile-btn" ui-sref="user-profile({id: 'user'})">Profile</a>
    </div>
</div>