<!DOCTYPE html>
<html ng-app="grouple">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Grouple // Messages</title>
    </head>
    <body class='app' id='messages' ng-controller="MessageController" ng-init="init('user')">
        <h1><!-- PANDA get this from session and put it in actionbar-->Messages</h1>
        <!--PANDA make this a directive-->
        <div class='list-wrap' ng-repeat="message in messages" ng-cloak>
            <message-row></message-row>
        </div>
        <form novalidate ng-submit="send(message)" ng-cloak>
            <textarea id="message" ng-model="message.message" rows="5" cols="40">
                
            </textarea>
            <input class='btn' type='submit' value='Send' />
        </form>
        <a class='btn' href='home.html'>Back</a>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="res/framework/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/user.js"></script>
    </body> 
</html>
