<!DOCTYPE html>
<div id="group-create">
    <h1>Group Create</h1>
    <form novalidate ng-submit="create()" ng-cloak>
        <input type="text" name="name" id="name" placeholder="Name" required ng-model="post.name" ng-cloak/>
        <input type="text" name="about" id="about" placeholder="About Event" ng-model="post.about" ng-cloak />
        <input type="text" name="location" id="location" placeholder="Location" ng-model="post.location" ng-cloak />
        <label>
            Public / Private
            <input type="radio" name="public" id="true" value="1" />
            <input type="radio" name="public" id="false" value="0" />
        </label>
        <input class="btn" type="submit" value="Save" />
    </form>
    <a class="btn" ui-sref="home">Home</a>
</div>
